.academic-details {
    margin-left: 1vw;
    margin-top: 5vh;
    width: fit-content;
    font-family: 'Roboto Slab','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.academic-details .aca-table {

}
.academic-details .aca-text {
    color: white;
}
.academic-details .aca-duration {
    width: 100px;
}
.academic-details .aca-attrib {
    width: 120px;
}
.academic-details .aca-value {
    width: 250px;
}