.container-main {
    width: auto;
    background-color: thistle;
}
.containerA {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.containerB {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.containerC {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.containerD {
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
}