.contribution-details {
    margin-left: 1vw;
    margin-top: 5vh;
    width: fit-content;
    font-family: 'Roboto Slab','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contribution-details .contrib-list {
    margin-top: 20px;
}
.contribution-details .contrib-list .contrib-description {
    margin-top: 10px;
}
.contribution-details .contrib-list .contrib-link {
    margin-top: 50px;
}